* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} 
  
.utility_flex { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
} 
  
.box { 
    height: 400px; 
    width: 400px; 
    background-color: rgb(84, 81, 116); 
    border-radius: 15px; 
    padding: 20px; 
    font-family: 'Poppins', sans-serif; 
} 
  
.outer-box { 
    height: 100vh; 
} 
  
.inner-box { 
    flex-direction: column; 
    gap: 30px; 
} 
  
.btn-container { 
    gap: 15px; 
} 
  
.logo-text { 
    color: rgb(20, 172, 165); 
} 
  
.gfglogo { 
    flex-direction: column; 
    gap: 10px; 
} 
  
.btn-style { 
    width: 100px; 
    height: 30px; 
    background: rgb(146, 80, 124); 
    border-radius: 15px; 
    color: rgb(90, 58, 58); 
    text-align: center; 
    padding: 6px; 
    border: none; 
} 
  
.message { 
    background-color: rgb(81, 90, 67); 
    height: 100px; 
    text-align: center; 
    color: antiquewhite; 
    padding: 25px; 
    border-radius: 5px; 
    font-size: 20px; 
} 
  
input { 
    height: 50px; 
    width: 300px; 
    border: 2px solid rgb(14, 112, 14); 
    border-radius: 15px; 
    text-align: center; 
    font-size: 15px; 
} 
  
.para-text { 
    padding: 20px; 
} 
  
.sub-heading { 
    color: rgb(12, 78, 12); 
    font-size: 25px; 
}